[h1: Ecosystem and Carbon Cycle]
bgcolor = "#ECFFE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[h2: GPP]
variable       = "gpp"
#alternate_vars = "gpp"
weight         = 5
#skip_rmse      = True
mass_weighting = True
skip_cycle = False

[FLUXCOM-X]
source	   = "data/GPP_0.125d_monthly_Europe.nc"	
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = False
relationships = "ET/FLUXCOM-X"

[h2: Biomass]
variable       = "biomass"
alternate_vars = "cVeg"
weight         = 5
#skip_rmse      = True
mass_weighting = True

[Xu]
#source     = "data/Xu_biomass.nc
source	   = "data/biomass_xu_ilamb.nc"	
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = True

[ESA-CCI6.0]
#source = "data/ESA_biomass.nc"
source  = "data/ESA_biomass_2007-2022_wSpawn.nc"
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = True

[h2: biomass_tau]
variable       = "biomass_tau"
weight         = 5
#skip_rmse      = True
mass_weighting = True

[Xu_FLUXCOM]
source	   = "data/tau_biomass_xu_fluxcom.nc"	
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = True

[ESA-CCI6.0_FLUXCOM]
source  = "data/tau_biomass_esa6.0_fluxcom.nc"
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = True

[h2: LAI]
variable       = "lai"
alternate_vars = "LAI"
weight         = 5
#skip_rmse      = True
mass_weighting = True
skip_cycle = False

[GlobMapLAIV3]
source  = "data/LAI_monthly_1991_2020_Europe_v2_fixed.nc"
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = False


[h1: Hydrology Cycle]
bgcolor = "#E6F9FF"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[h2: ET]
variable       = "ET"
alternate_vars = "evapotrans"
weight         = 5
#skip_rmse      = True
mass_weighting = True
skip_cycle = False

[FLUXCOM-X]
source	   = "data/ET_0.125d_monthly_Europe.nc"	
weight     = 16
#table_unit = "Pg"
#plot_unit  = "kg m-2"
space_mean = True
skip_iav   = False
skip_cycle = False
